#toolbar-menu .button-happiness:before {
    content:"\f118" !important;
}

#happiness_list {
    min-width: 75px !important;
    list-style-type: none;
}

#happiness_index a:visited a:hover {
    text-decoration: none;
}
